{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
  <blockquote>
    <h1>This site is not really ready for release. Please keep this in mind.</h1>
  </blockquote>

  <h1>Articles</h1>
  {% for article in articles %}
    <article class="preview">
      <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
      <label class="article-date">{{ article.locale_date }}</label>
      {{ article.summary }}

      {# consider photo banner #}
    </article>
  {% endfor %}
{% endblock %}

{% block footnav %}
  <a href="{{ GITHUB_LINK }}">&#8592; (github)</a>
{% endblock %}
