{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
  <p><center>{{ INDEX_DESCRIPTION }}</center><//p>

  <div class="articles-notes">
    {% for category, articles in categories %}
      <section>
        <h2>{{ category | capitalize }}</h2>

        {% for article in articles %}
          <div class="preview">
            {% if category == "notes" %}
              {# Garden note preview #}

              <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
              <div class="meta">
                <label class="article-date">{{ article.locale_date }}</label>

                {% if article.garden_status is defined %}
                  {# Assumes string #}
                  <span class="fr cs">{{ article.garden_status|capitalize }}</span>
                {% endif %}
              </div>

              {# End of garden note preview #}
            {% elif category == "articles" %}
              {# Article preview #}

              <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
              <label class="article-date">{{ article.locale_date }}</label>

              <div class="summary">
                {{ article.summary }}
              </div>

              {# End of article preview #}
            {% endif %}
          </div>
        {% endfor %}
      </section>
    {% endfor %}
  </div>

{% endblock %}

{% block footnav %}
  <a href="{{ GITHUB_LINK }}">&#8592; (github)</a>

  <span class="fr">
    <a href="/roadmap">roadmap</a>,
    <a href="/sitemap">sitemap?</a>
  </span>
{% endblock %}
